extends layout
block content
    h1= title
        table.table.table-striped
            thead
                tr
                    th Nom
                    th Prénom
        tbody
            each user in users
                tr
                    td= user.nom
                    td= user.prenom
                    td
                        a(href=`/users/${user._id}/edit`) Modifier
                    td
                        form(action=`/users/${user._id}?_method=DELETE` method='post')
                            button(type='submit') Supprimer

    h2 Ajouter un nouveau client
        form(action='/users' method='post')
            label(for='nom') Nom
            input#nom(type='text' name='nom' required)

            label(for='prenom') Prénom
            input#prenom(type='text' name='prenom' required)

            button(type='submit') Ajouter